###############################################
#  Gluetun
###############################################

# Your WireGuard private key (DO NOT SHARE)
# https://account.proton.me/u/0/vpn/WireGuard
WIREGUARD_PRIVATE_KEY=<your_key_here>

# Country for ProtonVPN server selection
SERVER_COUNTRIES=Netherlands,Switzerland

###############################################
#  qBittorrent
###############################################

# User and group IDs (run "id" on Linux)
PUID=1000
PGID=1000

###############################################
#  System
###############################################

# Timezone
TZ=Europe/Rome
